{{title}}
<!--Centrare la mappa alle nostre coordinate-->
<agm-map [latitude]="lat" [longitude]="lng">

  <!--Mettiamo un marker alle nostre coordinate-->
  <agm-marker [latitude]="lat" [longitude]="lng">
  </agm-marker>

  <agm-marker [latitude]="latC" [longitude]="lngC">
  </agm-marker>

  <!--tag per creare un cerchio-->
  <agm-circle [latitude]="lat" [longitude]="lng"
    [radius]="5000"
    [fillColor]="colore">
  </agm-circle>

  <agm-circle [latitude]="latC" [longitude]="lngC"
    [radius]="1000"
    [fillColor]="colore">
  </agm-circle>
</agm-map>

<button (click)="changeRed()">Cambio rosso</button>
<button (click)="changeYellow()">Cambio giallo</button>
<button (click)="changeGreen()">Cambio verde</button>
